.grandContainer {
  height: 93.2vh;
  background-image: url("https://wallpaperaccess.com/full/1543139.jpg");
  background-size: cover;
}

.grandAccordion {
  width: 800px;
}

.midAccordion {
  width: 700px
}

.trashIcon {
  margin-left: 290px;
  margin-right: 10px;
  z-index: 1000;
}

.trashIcon:hover {
  background-color: black;
}

.trashIconShop {
  margin-left: 375px;
  margin-right: 10px;
}

.trashIconCard {
  margin-right: 10px;
}

.greatArea {
  width: 300px !important;
}
